p, h1, h2, h3, h4, label, small, button, a, div {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
p {
    margin: 0.4rem 0px;
}
form label {
    margin-right: 0.5rem;
}
form button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    min-height: 105vh;
}
.sidebar {
    margin: -2.8rem 2rem -3rem -1rem;
    background-color: #176ea0;
    padding: 3rem;
    color: #fff;
}
.sidebar a {
    color: #fff;   
    text-decoration: none;
}
.btn-primary,
.btn-secondary,
.btn {
    background-color: #166ea0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2px;
}
.btn-primary:hover,
.btn-secondary:hover,
.btn:hover {
    background-color: #41a7e2;
    transition-duration: 200ms;
}

/* #rotator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 460px;
} */

.form-group {
    display: inline-block;
    margin-right: 5px;
}
#rotator .form-group:nth-child(5) {
    display: block;
}

#rotate_grid div {
    min-width: 3rem;
    height: 1.8rem;
    display: inline-block;
    text-align: center;
    padding-top: 0.5rem;
    border: 0.5px solid #166ea0;
}
#rotate_grid {
    width: 65vw;
}
#rotator .required,
#rotator #rotator_size{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
}
#rotate_current {
    text-align: left;
    color: #555;
}