{# base.html.twig #}
<!DOCTYPE html>
<html lang="nl-NL">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Topchallenges{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html> 
