{% extends 'base.html.twig' %}

{% block content %}
    <h2>Welkom op mijn topopdrachten website!</h2>
    <p>Opdracht 1: <a href="/topgeschenker">Topgeschenker</a>
    <p>Opdracht 2: <a href="/string-reverse">String Reverse</a>
    <p>Opdracht 3: <a href="/reset-password">Reset Password</a>
    <p>Opdracht 4: <a href="/kwartslag">Kwartslag draaien</a>
{% endblock %} 