{% extends 'base.html.twig' %}

{% block content %}
    <h1>Keer om wat je invult:</h1>
    <div id="reverse_form">
        {{ form(form) }}
    </div>
    <div id="reverse_result">
        <p id="output"></p>
    </div>    
    {% block javascripts %}
        <script src="/js/reverse.js"></script>
    {% endblock javascripts %}
{% endblock %} 