{% extends 'base.html.twig' %}

{% block content %}
    <h1>Keer om wat je invult:</h1>
    <div id="reverse_form">
        {{ form(form) }}
    </div>
    <div id="reverse_result">
        <p id="output"></p>
    </div>    

    {% block javascripts %}
        <script>
            var submitBtn = document.getElementById("task_omdraaien");
            var output = document.getElementById("output");
            
            submitBtn.onclick = function() {reverseInput()};
            function reverseInput(str){
                var inputValue = document.getElementById("task_input").value;
                var reversedString = reverseString(inputValue);
                output.innerText = reversedString;          
            }
            function reverseString(str) {
                var splitString = emojiStringToArray(str); 
                var reverseArray = splitString.reverse();
                var joinArray = reverseArray.join("");
                return joinArray;
            }

            var emojiStringToArray = function (str) {
                split = str.split(/([\uD800-\uDBFF][\uDC00-\uDFFF])/);
                arr = [];
                for (var i=0; i<split.length; i++) {
                    char = split[i]
                    if (char !== "") {
                        if(!specialChar(char)){
                            char = char.split("");
                            char = char.reverse();
                            char = char.join("");
                        }
                    arr.push(char);
                    }
                }
                return arr;
            };

            function specialChar(s) {
                return /[^\u0000-\u00ff]/.test(s);
            }
        </script>
    {% endblock javascripts %}
{% endblock %} 
