{% extends 'base.html.twig' %}

{% block title %}Topgeschenker{% endblock %}

{% block content %}
    <h1>Topgeschenker</h1>
    <div id="reverse_form">
        {{ list | raw }}
    </div>
{% endblock %} 